# Dependencies
**/node_modules/

# Build
**/dist/
**/build/

# Environment
.env
.env.*

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# IntelliJ
.idea/

# Docker
**/.dockerignore

# Misc
coverage/